<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <package name="com.itYan.pojo"/>
    </typeAliases>

    <!-- environments: Configure the Database environment, you can configure multiple environments -->
    <!--               Switch environments by switching the Default variable -->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <!-- database connection info -->
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://127.0.0.1:3306/mybatis?allowPublicKeyRetrieval=true&amp;useSSL=false&amp;useServerPrepStmts=true"/>
                <property name="username" value="root"/>
                <property name="password" value="12345678"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <!-- load sql mapping file -->
<!--        <mapper resource="com/itYan/mapper/UserMapper.xml"/>-->
        <!-- use Mapper 代理 -->
        <package name="com.itYan.mapper"/>
    </mappers>


</configuration>